.container {
  position: relative;
  overflow: hidden;
}

.slider {
  position: absolute;
  opacity: 0.5;
  transition: opacity 0.3s;
  width: 16px;
  inset-block-end: 0;
}

.slider:hover {
  opacity: 1;
}

.right, .left {
  top: 0;
  bottom: 0;
  cursor: ew-resize;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.top, .bottom {
  left: 0;
  right: 0;
  height: 3px;
  cursor: ns-resize;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.resizer {
  width: 100%;
  height: 100%;
  cursor: inherit;
}

.resizer span {
  display: block;
  width: 3px;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s;
}

.resizer:hover span {
  background-color: lightblue;
}

.animating {
  transition-property: width, height;
}

.shadow {
  position: absolute;
  background: #ccc;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.right .shadow, .left .shadow {
  top: 0;
  bottom: 0;
  width: 3px;
  height: 100%;
}

.toggleButton {
  position: absolute;
  background: none;
  border: none;
  color: #666;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.toggleButton.hidden {
  opacity: 0;
}

.right .toggleButton,
.left .toggleButton {
  top: 1rem;
  transform: none;
}

.right .toggleButton {
  left: 10%;
  transform: translateX(-50%);
}

.left .toggleButton {
  right: 10%;
  transform: translateX(50%);
}

.top .toggleButton,
.bottom .toggleButton {
  left: 50%;
  transform: translateX(-50%);
}

.top .toggleButton {
  bottom: 0;
}

.bottom .toggleButton {
  top: 0;
}

.toggleButton:hover {
  color: #333;
}

.slider:hover .toggleButton {
  opacity: 1;
}