.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.containerTest {
  padding: 1rem;
}
